@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  html,
  body,
  #root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body {
    @apply bg-background text-foreground;
  }
}
